@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
  color: white;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    background: #1e293b !important;
}

.custom-popup .leaflet-popup-content-wrapper {
    background: #1e293b;
    color: white;
    border-radius: 8px;
}

.custom-popup .leaflet-popup-tip {
    background: #1e293b;
}
